django
django-mysql
djangorestframework


# PyMySQL
# mysql
# mysqlclient

# python manage.py collectstatic

#https://docs.djangoproject.com/en/2.1/howto/legacy-databases/
#inspectdb

# python3 -m venv crypto
# source crypto/bin/activate